<div>
  <h1>Mad Libs</h1>

  <label>Type a color - get creative: </label>
  <input type="text" [(ngModel)] = "color"/>
  <br/>

  <label>Type a noun, any noun: </label>
  <input type="text" [(ngModel)] = "noun" />
  <br/>

  <label>Type a number, the larger the better: </label>
  <input type="text" [(ngModel)] = "number" />
  <br/>

  <label>Type a body part (appropriate responses preferred): </label>
  <input type="text" [(ngModel)] = "bodyPart" />
  <br/>
  <br/>

  <button (click) = "show()">Create Mad Lib!</button>
  <button (click) = "reset()"> Reset </button>
  
  <br/>
  <br/>
  <br/>

  <div *ngIf= "isShown">
    <h2>Solution:</h2>
    <h4>I have a <span [class] = "color ? 'black' : 'red'" >{{color ? color : "COLOR"}}</span>&nbsp;<span [class] = "noun ? 'black' : 'red'" >{{noun ? noun : "NOUN" }}</span> and I am going to throw it <span [class] = "number ? 'black' : 'red'" >{{number ? (number | number) : "NUMBER" }}</span> feet in the air. Then I will catch it with my <span [class] = "bodyPart ? 'black' : 'red'" >{{bodyPart ? bodyPart : "BODY PART" }}</span>. </h4>
  </div>
</div>